@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Grupo IBM </h1>
    <p>Nuestro Campus Virtual usa servicios de IBM cloud tanto IA, recursos de alojamiento nube cloud y IOT(Internet de las cosas) los cuales nos serviran para implementar nuestro smart cities <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
