@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail yourdfdsdetail yourdfdsdetail yourdfdsdetail yourdfdsdetail yourdfdsdetail yourdfdsdetail yourdfdsdetail yourdfdsdetail yourdfdsdetail yourdfdsdetail yourdfdsdetail yourdfdsdetail yourdfdsdetail yourdfdssite's privacy policy.</p>
